body {
  --text-color: #3c4a75;
  --main-color: #7a94e7;
  --background-color: #e1e1e1;
  --input-background-color: #d1d1d1;
  --secondary-color: var(--main-color);
  --app-title-color: var(--background-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--main-color);
}

body.dark a {
  color: var(--secondary-color);
}

body.dark {
  --text-color: #e1e1e1;
  --main-color: #111111;
  --input-background-color: #424242;
  --secondary-color: #bb86fc;
  --background-color: #292929;
  --app-title-color: var(--text-color);
}
